// colors
$primary: #0070f3;
$primary-dark: #1967d2;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$black-light: #2c2d30;

// breakpoints
$mobile: 884px;

// fonts
$font-normal: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$font-slab: 'Roboto Slab', serif;

// margins/paddings
$extra-em: calc(1em + 7px);

// mixins

@mixin mono-text {
  font-family: $font-mono;
  font-size: 1em;
  line-height: 1.5em;
}

@mixin slab-text {
  font-family: $font-slab;
  font-size: 1em;
  line-height: 1.5em;
}
